#card-background {
  z-index: 1;
  position: absolute;
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

#card-title {
  color: blue;
  font-family: Arial;
  font-size: 30pt;
  text-align: center;
}

#pic {
  width: 300px;
  height: 150px;
}

#message {
  color: green;
  font-family: Arial;
  font-size: 14pt;
  text-align: center;
}
