#card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

#birthday-greeting {
  color: blue;
  font-family: Arial;
  font-size: 30pt;
  text-align: center;
}

#pic {
  width: 300px;
  height: 150px;
}

#message {
  color: green;
  font-family: Arial;
  font-size: 14pt;
  text-align: center;
}
